/* General style */

html {
  font-size: calc(1em + 1.5vmin);
  font-family: "NowRegular";
}

body {
  display: block;
  width: 80%;
  margin: 0 auto;
}

section {
  width: 100%;
  margin: 100px 0;
  padding-bottom: 100px;
  border-bottom: 2px solid #BBADD5;
}

header, h1 {
  font-family: "Fira Mono";
}

header {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 20px;
}

h1 {
  font-size: 110%;
  font-weight: normal;
  margin: 0 0 20px 0;
}

p, figcaption {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #6D6085; /* different from main violet to be accessible */
}

a:hover {
  color: #2F283D;
}

figure {
  width: 30%;
  margin: 30px auto;
  text-align: center;
  font-size: 80%;
}

img {
  width: 80%;
}



/* Navigation bar */
#navigation {
  display: block;
  border-bottom: 2px solid #BBADD5;
  text-align: center;
}

#navigation ul {
  list-style-type: none;
  display: inline-block;
  margin: auto;
  padding: 0;
}

#navigation li {
  float: left;
  margin: auto 20px;
}

#navigation a {
  color: #636363;
  font-size: 60%;
  font-family: "Fira Mono";
  font-weight: normal;
}

#navigation a:hover {
  color: #BBADD5;
}

/* Introduction section */

#introduction {
  padding: 150px 30px;
  margin: 0;
  border-bottom: 0;
}


/* Contact me section */

#contact {
  display: inline-block;
  margin: 0 0 30px 0;
  background-color: #BBADD5;
  padding: 15px;
  text-align: center;
}

address {
  display: inline-block;
  margin: 10px;
}

#contact address img {
  width: 4%;
  height: 4%;
  margin: 10px 20px;
}

#contact address img:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid black;
  margin: 10px 20px 4px 20px;
}
