// _homepage.scss

@use 'base' as *;

// ********* GENERAL *********

.main {
  position: absolute;
  top: 11%;
  grid-template-areas:  "intro intro intro"
                        "caseStudies caseStudies caseStudies"
                        "generalWork generalWork generalWork"
                        "aboutMe aboutMe aboutMe";
}

@media screen and (min-device-width: 600px) {
  .main {
    grid-template-areas:  ". intro ."
                          "caseStudies caseStudies caseStudies"
                          "generalWork generalWork generalWork"
                          ". aboutMe .";
  }
}

// ********* INTRODUCTION *********

#intro {
  grid-area: intro;

  margin: 22vh 0 20vh 0;

  h1 {
    grid-area: title;
    font-family: $title-font-stack;

    position: relative;
    font-size: calc(#{$title-text-size} + 1vw);
    font-weight: $title-text-weight;
    color: $title-text-color;
  }

  h2 {
    grid-area: subtitle;

    font-size: calc(#{$subtitle-text-size} + 0.5vw);
    font-weight: $subtitle-text-weight;
    color: $subtitle-text-color;
    margin: 0;
  }

  p {
    grid-area: description;

    font-size: $intro-text-size;
    color: $intro-text-color;
  }

  h2, p {
    margin-top: 1.6rem;
  }
}


@media screen and (min-device-width: 1000px) {
  #intro {
    display: grid;
    grid-template-areas: "title title ."
                          "subtitle description description";
    grid-template-columns: 1.9fr 1fr 1fr;
    grid-template-rows: auto 1fr;

    margin: 26vh 0 8vh 0;
    p {
      margin-left: 1.5rem;
    }

    h2 {
      font-family: calc(#{$subtitle-text-size} + 0.2vw);
    }
  }
}

@media screen and (min-device-width: 1500px) {
  #intro {
    p {
      font-size: $desktop-intro-text-size;
      font-weight: $intro-text-weight;
    }

    h1 {
      font-size: $desktop-title-text-size;
    }

    h2 {
      font-size: $desktop-subtitle-text-size;
    }
  }
}


// ********* CASE STUDIES AND GENERAL WORK *********
#caseStudies, #generalWork {
  a {
    section {
      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      margin: $section-margin-height 0;

      .image {
        @extend %phone-mockup;
      }

      h2 {
        margin-top: 2rem;
        color: $medium-text-color;

        font-weight: 500;

        transition: color 0.25s ease-in-out;
      }

      p {
        font-size: $base-text-size;
        font-weight: $base-text-weight;
        width: 1.3 * $phone-width;
        text-align: center;
        color: #B5B5B5;
      }
    }

    &:hover {
      section {
        h2 {
          color: $hover-color;
        }
      }
    }
  }

  h1 {
    font-size: $case-title-size;
      font-weight: $case-title-weight;
      color: $section-title-color;
      line-height: 85%;
    position: relative;
      top: 4rem;
  }

  h2 {
    font-size: $medium-text-size;
      font-weight: $medium-text-weight;
      color: $medium-text-color;
  }
}

#caseStudies {
  grid-area: caseStudies;

  a {
    section {
      &#esensei {
        .image {
          background-image: url('../images/esensei-mobile-preview.png');
        }
      }

      &#travello {
        .image {
          background-image: url('../images/travello-mobile-preview.png');
        }
      }

      &#beauty {
        .image {
          background-image: url('../images/beauty-mobile-preview.png');
        }
      }
    }
  }
}

#generalWork {
  grid-area: generalWork;

  a {
    section {
      .image {
        width: $phone-width /1.3;
        height: $phone-height /1.3;
      }

      &#knowledgePit {
        .image {
          background-image: url('../images/knowledgePit-mobile-preview.png');
        }
      }

      &#senseiRoyale {
        .image {
          background-image: url('../images/icons-preview.png');
          width: $phone-height /1.3;

          &:after {
            display: none;
          }
        }
      }

      &#moodle {
        .image {
          background-image: url('../images/moodle-preview.svg');
          width: $phone-height /1.3;

          &:after {
            display: none;
          }
        }
      }

      h2 {
        color: $orange-case-title-color;
      }
    }
  }
}



@media screen and (min-device-width: 600px) {
  #caseStudies, #generalWork {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    h1 {
      height: fit-content;
      flex-basis: 100%;
      margin-left: 9vw;
    }
  }

  #caseStudies {
    a {
      section {
        &#esensei, &#beauty {
          .image {
            width: $desktop-width;
            height: $desktop-height;

            &::after {
              display: none;
            }
          }
        }

        &#esensei {
          .image {
            background-image: url('../images/esensei-desktop-preview.png');
          }
        }

        &#beauty {
          .image {
            background-image: url('../images/beauty-desktop-preview.png');
          }
        }
      }
    }
  }

  #generalWork {
    a {
      section {
        // specific sizes for designs
        &#knowledgePit {
          .image {
            width: $desktop-width /1.3;
            height: $desktop-height /1.3;

            &::after {
              display: none;
            }
          }

          .image {
            background-image: url('../images/knowledgePit-desktop-preview.png');
          }
        }
      }
    }
  }
}

@media screen and (min-device-width: 1600px) {
  #generalWork {
    .break {
      display: none;
    }
  }
}
